# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.db
*.db-shm
*.db-wal
*.tlog
*.log
*.manifest
*.pdb
*.opendb
*.lastbuildstate

# Precompiled Headers
*.gch
*.pch
*.ipch
*.suo
*.tlog
*.idb
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
